In [163]:
# 학생 성적 관리 프로그램
# 20명의 학생 성적을 입력 받은 다음
# 등수에 따라(상대평가) A+ ~ F 학점으로 등급을 책정하는 기능
# 상위 10%는 A+ ... 해서 F 까지

In [432]:
x = []
z = [1, 2, 3, 4, 5]
x.append(int(input(z)))

In [433]:
x = 10 % 3

In [434]:

x

1

In [429]:
x

[1]

In [425]:
for i in range(10, 1, -3) :
    print(i)

10
7
4

In [421]:
for i in range(0, 10, 3) :
    print(i)

0
3
6
9

In [ ]:
for i in range(0, 10, 3) :
    x.append(int(input()))

In [417]:
z = x.copy()

In [418]:
print(x)

[65, 74, 23, 46, 35, 78, 934, 13, 24, 53]

In [420]:
for i in range(3) :
    for j in range(i) :
        print(j)

0
0
1

In [419]:
for i in range(len(z)) :
    for j in range(i) :
        print('[', z[j], ']', end='')
    print()

[ 65 ]
[ 65 ][ 74 ]
[ 65 ][ 74 ][ 23 ]
[ 65 ][ 74 ][ 23 ][ 46 ]
[ 65 ][ 74 ][ 23 ][ 46 ][ 35 ]
[ 65 ][ 74 ][ 23 ][ 46 ][ 35 ][ 78 ]
[ 65 ][ 74 ][ 23 ][ 46 ][ 35 ][ 78 ][ 934 ]
[ 65 ][ 74 ][ 23 ][ 46 ][ 35 ][ 78 ][ 934 ][ 13 ]
[ 65 ][ 74 ][ 23 ][ 46 ][ 35 ][ 78 ][ 934 ][ 13 ][ 24 ]

In [412]:
for i in range(len(z)) :
    for j in range(i) :
        if z[i] > z[j] :
            print(z)
            tmp = z[i]
            z[i] = z[j]
            z[j] = tmp

[65, 74, 23, 46, 35, 78, 934, 13, 24, 53]
[74, 65, 23, 46, 35, 78, 934, 13, 24, 53]
[74, 65, 46, 23, 35, 78, 934, 13, 24, 53]
[74, 65, 46, 35, 23, 78, 934, 13, 24, 53]
[78, 65, 46, 35, 23, 74, 934, 13, 24, 53]
[78, 74, 46, 35, 23, 65, 934, 13, 24, 53]
[78, 74, 65, 35, 23, 46, 934, 13, 24, 53]
[78, 74, 65, 46, 23, 35, 934, 13, 24, 53]
[78, 74, 65, 46, 35, 23, 934, 13, 24, 53]
[934, 74, 65, 46, 35, 23, 78, 13, 24, 53]
[934, 78, 65, 46, 35, 23, 74, 13, 24, 53]
[934, 78, 74, 46, 35, 23, 65, 13, 24, 53]
[934, 78, 74, 65, 35, 23, 46, 13, 24, 53]
[934, 78, 74, 65, 46, 23, 35, 13, 24, 53]
[934, 78, 74, 65, 46, 35, 23, 13, 24, 53]
[934, 78, 74, 65, 46, 35, 24, 13, 23, 53]
[934, 78, 74, 65, 46, 35, 24, 23, 13, 53]
[934, 78, 74, 65, 53, 35, 24, 23, 13, 46]
[934, 78, 74, 65, 53, 46, 24, 23, 13, 35]
[934, 78, 74, 65, 53, 46, 35, 23, 13, 24]
[934, 78, 74, 65, 53, 46, 35, 24, 13, 23]

In [387]:
z

[97, 87, 68, 67, 64, 57, 56, 45, 45, 34]